/JavaApplication30/nbproject/private/
/JavaApplication31/nbproject/private/
/JavaApplication30/build/
/JavaApplication30/dist/
/JavaApplication32/nbproject/private/
/JavaApplication32/build/
/practica/target/
/pru/nbproject/private/
/pru/build/
